/*block__element--modifier*/
/*header*/
/*container*/
/*menu*/
/*btn*/
/*carousel*/
/*checkbox*/
/*input*/
/*dialog*/




/*browser reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
s, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea:focus, input:focus{
    outline: none;
}

/*general style*/

html, input, textarea, select, button
 {
    font-family: "Microsoft YaHei", arial, sans-serif;
}

body {
    margin:0;
    padding-top:56px;
}

a {
    text-decoration: none;
}

ul,li {
    list-style:none;
}

img {
    max-width:100%;
}




/*typography*/

h1,h2,h3 {
    margin-top:20px;
    margin-bottom:20px;
}

h4,h5,h6 {
    margin-top:10px;
    margin-bottom:10px;
}

h1 {
    font-size: 46px;
    font-weight: 200;
    line-height: 46px;
}

h2 {
    font-size: 38px;
    font-weight: 200;
    line-height: 38px;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}

h4 {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;    
}

h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;        
}

h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;   
}

/*navigation bar*/


.toolbar {

    height: 56px;
    padding:0 15px;
    z-index:10;
    display:flex;
    justify-content:space-between;
    line-height: 56px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.toolbar--themed {
    background: rgb(201,29,0);
background: -webkit-linear-gradient(left, rgba(201,29,0,1) 0%, rgba(255,0,148,1) 100%);
background: -o-linear-gradient(left, rgba(201,29,0,1) 0%, rgba(255,0,148,1) 100%);
background: linear-gradient(to right, rgba(201,29,0,1) 0%, rgba(255,0,148,1) 100%);
    color:white;
}

.toolbar--fixed {
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.toolbar__section {
    display:flex;
}

.toolbar__btn {
    padding:0px 10px;
    font-size:14px;
}

.toolbar__btn:hover {
    color:black;
    cursor:pointer;
}


.nav-item {
    diaplay:inline-block;
}


/*section*/

.section {
    display:flex;
    justify-content: center;
}

.section-col {
    padding:20px;
}
.section-col--flex {
    padding:20px;
    flex:1;
}

.section-col--contained {
    width:900px;
    padding:20px;
}

@media screen and (max-width: 992px) {
    .section {
        flex-direction:column;
    }
    .section-col {
    padding:10px;
}
    .section-col--flex {
    padding:10px;
    flex:1;
}
    .section-col--contained {
        width:auto;
        padding:10px;
    }
}

/*hero section*/

.section-hero {
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px 0 -5px;
}

.section-hero:before {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-color: white;
    border-width: 0 60px 60px 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}


.section-hero__cover {
    background-size:cover;
    background-position:50% 50%;
    padding-top:56%;
    flex:1;
}
.section-hero__body {
    flex:1;
    padding:0px 10px;
}
.section-hero__meta {
    font-size:13px;
    line-height: 20px;
    margin-bottom:10px;
}


.section-hero__item {
    border: 5px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #efefef;
    position: relative;
}

.section-hero__item--s {
    flex:1;
    min-width:200px;
}

.section-hero__item--large {
    flex:1;
    min-width:50%;
}

.section-hero__item--full {
    flex:1;
    min-width:100%;
}


.section-hero__item--full .section-hero__body {
    padding: 10px 50px 20px 50px;
    text-align:center;
}

/*footer*/

.footer {
    display:flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom:40px;
    background-color:#32283c;
    position:relative;
}

.footer__copyright {
    position:absolute;
    bottom:10px;
    left:10px;
    right:10px;
    text-align:center;
    font-size:12px;
    color:lightgrey;
}

@media screen and (max-width: 992px) {
    .footer {
        flex-direction:column;
    }
}           

/*list*/

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px 0 -5px;
}

.list__item {
    box-sizing: border-box;
    display: flex;
    position: relative;
    margin-bottom:15px;
    border: 5px solid rgba(255,255,255,0);
    width:100%;
}

.list__item--s {
    margin-bottom:5px;
}

.list__item--xs {
    margin-bottom:0px;
}

.list__cover {
    width:100px;
    height:75px;
    background:grey;
}

.list__avatar {
    width:50px;
    height:50px;
    border-radius:100%;
    background:grey;
}

.list__avatar--s {
    width:35px;
    height:35px;
    border-radius:100%;
    background:grey;
}

.list__body {
    flex: 1;
    padding: 0 0 0 10px;
}
.list__meta {
    font-size:13px;
    line-height: 20px;
    margin-bottom:10px;
}

.list__meta--s{
    margin-bottom:5px;
}

.list__content {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}

.list__content--s {
    margin-bottom:5px;
}


/*section*/

.section-title {
    display:flex;
    margin:20px 0px 10px 0;

}

.section-title:before {
    content:"";
}

.section-title:after {
    content:"";
}

.section-title__text {
    border-bottom: 1px solid;
    line-height: 32px;
    padding-right: 15px;
    font-size:18px;
}


.section-title__bg {
    flex: 1;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
}


.section-title__bg:before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: -8px;
    bottom: -16px;
    width: 20px;
    height: 16px;
    border-left: 1px solid;
    transform: skew(-45deg);
}


/*button*/

.btn {
    position: relative;
    border: 1px solid;
    padding: 0px 25px;
    margin: 5px 15px 5px 0px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 28px;
    height: 30px;
}

.btn:hover {
    filter: grayscale(50%);
}

.btn:active {
    filter: grayscale(70%);
}


.btn-hex:before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    right: -6px;
    top: -1px;
    width: 11px;
    height: 10px;
    border-radius: 0 0 100% 0;
    background: white;
    border-left: 1px solid;
    transform: skew(45deg);
}

.btn-hex:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: -6px;
    bottom: -1px;
    width: 11px;
    height: 10px;
    border-radius: 0 0 0 0;
    background: white;
    border-right: 1px solid;
    transform: skew(45deg);
}


.btn-menu:before  {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-width: 12px 12px 0px 0;
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
}



.btn-large {
    padding: 4px 35px;
    height: 40px;
}

.btn-row {
    width:100%;
}


/*menu*/

.menu {
    display:inline-block;
    position:relative;
}

.menu__container {
    position: absolute;
    background: white;
    left: 7px;
    bottom: 0;
    transition: all 0.3s ease;
    transform: translate3d(0,100%,0);
    border:1px solid;
    background:white;
}

.menu__item {
    border-bottom:1px solid #ccc;
    padding:10px 5px;
}

/*form*/ 

form {
    padding-top:70px;
    padding-bottom:70px;
}


.form__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form__action {
    margin-top:15px;
    padding-top:10px;
    padding-bottom:10px;
}

.form__btn--row {
    display:inline-block;
    border:1px solid;
    padding:20px 40px;
    cursor:pointer;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font-size: 16px;
    padding: 10px;
    margin-bottom:20px;
}

textarea {
    min-width:100%;
    max-width:100%;
    border:1px solid;
    font-size: 16px;
    padding: 10px;
    margin-bottom:20px;
}

@media screen and (max-width: 480px) {
    form {
        padding-top:30px;
        padding-bottom:30px;
    }
}


.pagination {
    padding-left: 0;
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
    list-style-type: none;
}

.pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pagination--disabled {

}

.pagination--active {
    color:red;
}


/*theme color*/

.color-theme,.color-theme--hover:hover {
    color: #DB4949;
}

.bg-theme,.bg-theme--hover:hover {
    background-color: #DB4949;
}

.border-theme,.border-theme--hover:hover {
    border-color: #DB4949;
}


.color-white,.color-white--hover:hover {
    color: #ffffff;
}

.bg-white,.bg-white--hover:hover {
    background-color: #ffffff;
}

.border-white,.border-white--hover:hover {
    border-color: #ffffff;
}

.color-black,.color-black--hover:hover {
    color: #000;
}

.bg-black,.bg-black--hover:hover {
    background-color: #000;
}

.border-black,.border-black--hover:hover {
    border-color: #000;
}